<h4>Transacciones</h4>
<ul>
    @for (transaccion of transaccionesList; track transaccion.id){
        <li><b>Fecha: </b>{{transaccion.fecha}} - 
            <b>Monto:</b> {{transaccion.monto}}<br><b>Descripcion:
            </b> {{transaccion.descripcion}}<br>
            <b>Tipo:</b> <div [style.color]="transaccion.tipo == 'ingreso' ? 'green' : 'red'">{{transaccion.tipo}}</div>
            <br>
        </li>
    }
</ul>
<input type="text" [(ngModel)] = 'descripcion_Transaccion'>
<button (click)="mostrarTransaccion()">Mostrar transaccion</button>
<p>
    Mi transaccion es:
    <strong>{{descripcion_Transaccion}}</strong>
</p>
<button (click)="enviarSaludo()">Enviar Saludo</button>